body {
  min-height: 100vh;

  background: linear-gradient(to bottom, #08203e, rgb(62, 109, 183) 100%);
}

.main-title {
  font-size: 80px;
  color: #fff;
}

.add-task-container {
  background-color: rgb(62, 125, 183);
}

h2 {
  color: #a82b2b;
}
hr {
  height: 3px;
  background-color: black;
  margin: 20px 0;
}

table {
  border-radius: 10px;
  overflow: hidden;
}
tr {
  padding: 10px;
}
